<div> Hi, <strong>%s</strong> </div>

<div> This is new reset password after you forgot: <strong>%s</strong> </div>

<div> Please don't send it for anyone. </div>

<div> You can change password in this link <a href="http://localhost:3000/forgot">Change Password</a> </div>

<div> Regards.</div>